.DS_Store
.idea
.htaccess
.env
.phpunit.result.cache

# Ignore all vendor files included by composer and the lock file
# /vendor/  # Uncomment after development
/node_modules/
/storage/
/bootstrap/cache/
composer.lock
