/vendor\n/node_modules\n/public/hot\n/public/storage\n/storage/*.key\n/storage/framework/cache/*\n/storage/framework/sessions/*\n/storage/framework/views/*\n/storage/logs/*\n.env\n.env.backup\n.phpunit.result.cache\ndocker-compose.override.yml\nHomestead.json\nHomestead.yaml\nnpm-debug.log\nyarn-error.log\n/.idea\n/.vscode
